@use '../variables'
.modal
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	opacity: 1
	visibility: visible
	transform: scale(1.0)
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s
	font-family: Roboto
	.modal-content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background-color: var(--white)
		padding: 1rem 1.5rem
		width: 100%
		height: 100%
		border-radius: 0.5rem
		background-color: rgba(0, 0, 0, 0.5)
		-ms-overflow-style: none /* for Internet Explorer, Edge */
		scrollbar-width: none /* for Firefox */
		::-webkit-scrollbar
			display: none
		.containerInfo
			display: grid
			grid-template-columns: 50% auto
			grid-template-rows: auto
			color: var(--white)
			.infoEvent
				padding: 1rem .3rem 0
		.tvGuide
			position: absolute
			top: 45vh
			width: 100vw
			height: 65vh
			.option
				display: flex
				align-items: center
				justify-content: flex-end
				padding: 0 1rem 0
				height: 3.5rem
				background-color: rgba(0, 0, 0, 0.1)
				> button
					background-color: var(--dark)
					color: var(--white)
					font-size: var(--ssm)
					border-radius: 0.3rem
					border: none
					margin: 0 0.5rem
					padding: 0.6rem 1.4rem
					font-weight: 700
					color: var(--white)
					font-family: Roboto
					&:hover
						background-color: var(--black)
						cursor: pointer
			.today
				display: grid
				grid-template-columns: 10% auto 10%
				grid-template-rows: 3.5rem auto
				color: var(--white)
				font-family: Roboto
				background-color: var(--dark)
				.today__label
					display: grid
					place-items: center
				.today__arrow
					display: flex
					align-items: center
					justify-content: center
					> button
						background-color: var(--dark)
						color: var(--white)
						font-size: 30px
						border-radius: 50%
						border: none
						margin: .3rem
						padding: 0
						font-weight: bold
						&:hover
							background-color: var(--black)
							cursor: pointer
			.epg
				width: 100%
				height: 450px
				display: block
				float: left
				position: relative
				overflow: hidden
				overflow-y: scroll
				.epg__channels
					.channel
						display: flex
						align-items: center
						justify-content: flex-end
						float: left
						clear: both
						width: 10rem
						height: 6.5rem
						background-color: var(--dark)
						color: var(--white)
						margin: 3px 0 5px
						border-radius: 0 6px 6px 0
						border: none
				.epg__info
					position: absolute
					left: 165px
					right: 0
					overflow: hidden
					overflow-x: scroll
					.row
						clear: both
						height: 112px
						float: left
						min-width: 2400%
	.close-button
		float: right
		width: 2.5rem
		line-height: 2.5rem
		font-size: var(--xlg)
		text-align: center
		cursor: pointer
		border-radius: 1rem
		color: var(--white)
		background-color: transparent
		border: none

.close-button
	&:hover
		transition-duration: .6s
		transform: scale(1.2)

@media only screen and (min-width: 320px) and (max-width: 576px)
	.modal
		.modal-content
			.tvGuide
				.option
					padding: 0
					justify-content: center
					> button
						margin: 0 0.2rem
						padding: 0.3rem 0.7rem
				.today
					grid-template-columns: auto
					padding: 0 1.2rem 0
					.today__arrow
						justify-content: space-between
			.containerInfo
				display: grid
				grid-template-columns: auto
				font-size: var(--ssm)
				grid-template-rows: auto
				color: var(--white)
